/* Rubriker och brödtext. */
h1 {
    background-color: #43332A;
    padding: 0 0 1rem 4.5rem;
    color: #d4ae8e;
}

h2 {
    margin: 2rem 0;
}

h3 {
    margin: 5rem 0 3rem 0;
    font-size: 2em;
    text-decoration: underline;
}

h4 {
    font-size: 1.4em;
    margin: 0.5rem;
}

p {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

/* Bakgrundsmönster. */
main {
    background-image: url(../assets/background.png);
    background-attachment: fixed;
    min-height: 75vh;
}

/* Knapp-container. */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 3rem 0;
}

/* Knappar för att välja meny eller betyg. */
#menu-button, 
#score-button {
    color: #000000;
    height: 45px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin: 1rem;

    /* Hover-effekt. */
    &:hover {
        font-size: 150%;
    }
}

/* Olika färger på knapparna. */
#menu-button {
    background-color: #8ea178;
}

#score-button {
    background-color: #d6b54c;
}

/* Sektionen för meny. */
#menu {
    text-align: center;
    background-color: #43332A;
    border: 5px solid #8ea178;
    margin: 2rem;
}

/* Knapp för att skapa ny post i menyn. */
#newIcecream {
    background-color: #8ea178;
    color: #000000;
    height: 45px;
    width: 200px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin: 3rem 0 0 0;

    /* Hover-effekt. */
    &:hover {
        font-size: 150%;
    }
}

.form-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

#createForm h2,
#updateForm h2 {
    margin: 3rem 0 0 0;
}

#createForm input,
#createForm label,
#updateForm input,
#updateForm label,
.categories {
    width: 100%;
    height: 35px;
}

#createForm input,
#updateForm input {
    padding-left: 5px;
    font-family: 'Glacial Indifference', sans-serif;
}

#create-description,
#update-description {
    width: 100%;
    padding: 5px 0 0 5px;
    font-family: 'Glacial Indifference', sans-serif;
}

.formText {
    text-align: left;
}

/* Knapp för att uppdatera en glass. */
.save-button,
.cancel-button {
    color: #000000;
    height: 45px;
    width: 105px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 1rem;

    /* Hover-effekt. */
    &:hover {
        font-size: 150%;
    }
}

/* Olika färger på knapparna. */
.save-button {
    background-color: #8ea178;
}

.cancel-button {
    background-color: #d6b54c;
}

/* Glass-poster. */
.icecream-list li {
    margin: 2rem 1rem;
    list-style-type: none;
    border-bottom: 2px solid #8ea178;
}

/* Knapp för att uppdatera en glass. */
.editIcecream {
    background-color: #d6b54c;
    color: #000000;
    height: 45px;
    width: 225px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin-top: 1rem;

    /* Hover-effekt. */
    &:hover {
        font-size: 150%;
    }
}

/* Knapp för att radera glass eller betyg. */
.eraseIcecream,
.eraseScore {
    background-color: #b10c0e;
    color: #ffffff;
    height: 45px;
    width: 225px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 1rem 0;

    /* Hover-effekt. */
    &:hover {
        font-size: 150%;
    }
}

/* Radera-ikon. */
.fa-solid {
    margin-left: 1rem;
}

/* Aktiv knapp. */
#menu-button.active-button, 
#score-button.active-button {
    border: 5px solid #ffffff;
}

/* Container för besöksbetygs. */
.score-container {
    background-color: #43332A;
    border: 5px solid #d6b54c;
    color: #ffffff;
    margin: 2rem;
    text-align: center;
}

/* "Lista" med besöksbetyg. */
#score-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    list-style-type: none;
}

/* Listelement med stjärnor, namn och datum. */
#score-list li {
    width: 200px;
    background-color: #43332A;
    margin: 1rem;
    border-bottom: 2px solid #d6b54c;
}

/* Betygs-text. */
#score-list li p {
    font-size: 20px;
}

/* Betygsstjärna, fylld. */
.full-star {
    color: #d6b54c;
}

/* Betygsstjärna, tom. */
.empty-star {
    color: #c4c3c3;
}

/* Mediaquery för större skärmar. */
@media (min-width: 769px) {

    /* Rubrik. */
    h1 {
        text-align: center;
        margin: 2rem 0;
    }
}

/* Mediaquery för större skärmar. */
@media (min-width: 1025px) {}

@media (min-width: 1441px) {}

@media (min-width: 1921px) {}