/* FÄRGER.

Brun: #43332A
Beige: #d4ae8e
Gul: #d6b54c
Grön: #8ea178
Röd: #b10c0e

*/

/* Normalisering. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body. */
body {
    background-color: #43332A;
    color: #ffffff;
    font-family: 'Glacial Indifference', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* Länkar. */
    a {
        color: #ffffff;
        cursor: pointer;
    }
}

/* Header. */
header {
    background-color: #43332A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    z-index: 10;

    /* Logotyp. */
    img {
        max-width: 200px;
    }
}

/* Desktop-meny syns inte. */
#desktop-links {
    display: none;
}

/* Hamburger-meny, ikon. */
#mobile-menu {
    display: block;
    cursor: pointer;
}

/* Hamburger-meny, länkar. */
#mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #43332A;
    position: absolute;
    top: -175%;
    left: 0;
    padding: 1.5rem 0;
    transition: top 0.45s ease-in-out;
}

#mobile-links li {
    list-style: none;
    margin: 0.5rem 0;
    font-size: 1.2em;
    font-weight: bold;
}

#mobile-links li a {
    color: #fff;
    text-decoration: none;
}

/* Main. */
main {
    min-height: 74vh;
    
    p {
        font-size: 18px;
    }
}

/* Footer. */
footer {
    margin: 2rem 0 2rem 2rem;

    p {
        font-size: 18px;
    }

    /* Hover-effekt på länkar. */
    a:hover {
        text-decoration: none;
    }

    /* Fontawesome ikoner. */
    .fa-solid {
        margin-right: 0.35rem;
    }

    /* Sektioner med information. */
    div {
        line-height: 1.6;
    }

    h3 {
        margin: 1.5rem 0 0 0;
    }

    /* Logotyp. */
    #footer-logo {
        img {
            max-width: 200px;
            margin: 3rem 0 2rem 0;
        }
    }
}

/* Mediaquery för större skärmar. */
@media (min-width: 769px) {

    /* Desktop-meny, länkar. */
    #desktop-links {
        display: flex;
    }

    #desktop-links li {
        list-style-type: none;
        margin: 1rem;
        font-weight: bold;
        font-size: 1.2em;
    }

    #desktop-links li a {
        text-decoration: none;
        color: #fff;
    }

    /* Hover-effekt för länkar. */
    #desktop-links li a:hover {
        color: #d6b54c;
        transition: all 0.5s;
        text-shadow: 1px 1px 2px black;
    }

    /* Hamburger-meny, ikon och länkar syns inte. */
    #mobile-menu {
        display: none;
    }

    #mobile-links {
        display: none;
    }

    /* Footer. */
    footer {
        display: flex;
        justify-content: space-evenly;

        h3 {
            margin: 0 0 0.25rem 0;
        }

        /* Logotyp. */
        #footer-logo {
            img {
                margin: 1rem 0 0 0;
            }
        }
    }
}

/* Aktivt läge för mobil-menyn. */
#mobile-links.active {
    top: 100%;
}