/* Rubrik. */
h1 {
    text-align: left;
    font-size: 2em;
    margin: 2rem 0 0 0;
}

/* Container för bildkarusell. */
.carousel-container {
    margin-top: 1rem;
    overflow: hidden;
    background: #43332A;
    white-space: nowrap;
}

/* Hover-effekt på bildkarusell. */
.carousel-container:hover .img-carousel {
    animation-play-state: paused;
}

/* Bildkarusell. */
.img-carousel {
    display: inline-block;
    animation: 45s carousel infinite linear;
}

/* Bilder inom bildkarusell. */
.img-carousel img {
    height: 350px;
}

/* Animation för bildkarusell. */
@keyframes carousel {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Beskrivande text under bildkarusell. */
#scroll-text {
    margin: 3rem 0.5rem 7rem 0.5rem;
    text-align: center;
    transition: opacity 0.5s ease;
}

#scroll-text p {
    font-size: 50px;
}

/* Sektion för meny. */
#menu {
    text-align: left;
    line-height: 2;
    margin: 2rem;
}

/* Glass-rubriker inom menysektion. */
#menu h2 {
    margin-top: 1rem;
    color: #d4ae8e;
    text-align: left;
}

/* Glass-poster. */
.icecream-list li {
    margin-bottom: 1rem;
    list-style-type: none;
}

/* Kategori-bilder. */
.category img {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    border: 5px solid #d4ae8e;
}

/* Container för omdömes-slide. */
.score-container {
    margin: 4rem 2rem 1rem 2rem;
    overflow: hidden;
    background: #43332A;
    white-space: nowrap;
    text-align: center;
}

/* Omdömes-slide. */
.score-slide {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
    border: 10px dotted #d4ae8e;
    padding: 1rem;
}

/* Gör scrollbar mindre synlig för webbläsaren Firefox. */
.score-slide {
    scrollbar-width: thin;
    scrollbar-color: #ffffff transparent;
}

/* Gör scrollbar mindre synlig för WebKit-baserade webbläsare. */
.score-slide::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* "Lista" med omdömen. */
#score-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    line-height: 2;
}

/* Listelement med stjärnor, namn och datum. */
#score-list li {
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    width: 200px;
}

/* Betygs-text. */
#score-list li p {
    font-size: 20px;
}

/* Betygsstjärna, fylld. */
.full-star {
    color: #d6b54c;
}

/* Betygsstjärna, tom. */
.empty-star {
    color: #c4c3c3;
}

/* Container för "om oss". */
.about-container {
    line-height: 2;
    margin: 2rem;
}

/* Brödtext. */
.about-container p {
    text-align: left;
    max-width: 60ch;
}

/* Bild. */
.about-container img {
    width: 100%;
    max-width: 400px;
    border: 5px solid #8ea178;
    margin-top: 2rem;
}

/* Mediaquery för större skärmar. */
@media (min-width: 769px) {

    /* Bilderna i bildkarusellen blir större. */
    .img-carousel img {
        height: 450px;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu #desc {
        margin-bottom: 2rem;
    }

    /* Menyn och bilderna läggs i två olika kolumner. */
    .menu-categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        width: 100%;
        text-align: center;
        justify-items: center;
    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 100%;
        max-width: 450px;
        padding: 1rem;
    }

    .category img {
        width: 100%;
        max-width: 450px;
        height: auto;
        margin-bottom: 1rem;
        border: 10px solid #d4ae8e;
    }

    .category h2,
    .category ul {
        width: 100%;
        text-align: left;
    }

    #cat-1,
    #cat-2,
    #cat-3,
    #cat-4 {
        margin-bottom: 3rem;
    }

    /* Centrerar rubriker och containers. */
    h1,
    #menu,
    #score-list {
        text-align: center;
        justify-content: center;
    }

    .score-container {
        margin: 5rem 10%;
    }

    .about-container {
        margin: 2rem 1rem;
    }

    /* Bild. */
    .about-container img {
        border: 10px solid #8ea178;
    }

    #about {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 3rem;
    }
}

/* Mediaquery för större skärmar. */
@media (min-width: 1025px) {
    .menu-categories {
        width: 80%;
    }

    .score-container {
        margin: 2rem 15%;
    }
}

@media (min-width: 1441px) {
    .menu-categories {
        width: 70%;
    }

    .score-container {
        margin: 2rem 20%;
    }
}

@media (min-width: 1921px) {
    .menu-categories {
        width: 40%;
    }

    .score-container {
        margin: 2rem 25%;
    }
}
