/* Container för bildkarusell. */
.carousel-container {
    margin-top: 1rem;
    overflow: hidden;
    background: #43332A;
    white-space: nowrap;
}

/* Hover-effekt på bildkarusell. */
.carousel-container:hover .img-carousel {
    animation-play-state: paused;
}

/* Bildkarusell. */
.img-carousel {
    display: inline-block;
    animation: 45s carousel infinite linear;
}

/* Bilder inom bildkarusell. */
.img-carousel img {
    height: 350px;
    margin: 0.25rem;
}

/* Animation för bildkarusell. */
@keyframes carousel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Beskrivande text under bildkarusell. */
#scroll-text {
    margin: 3rem 0.5rem 7rem 0.5rem;
    text-align: center;
    transition: opacity 0.5s ease;
}

#scroll-text h1 {
    font-size: 40px;
}

/* Sektion för "om oss". */
#about {
    background-color: #8ea178;
    color: black;
    padding: 1rem 0;
}

/* Container för "om oss". */
.about-container {
    line-height: 2;
    margin: 2rem;
}

/* Brödtext. */
.about-container p {
    text-align: left;
    max-width: 60ch;
}

/* Bild. */
.about-container img {
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    border: 5px solid #ffffff;
}

/* Sektion för meny. */
#menu {
    text-align: left;
    line-height: 2;
    margin: 2rem;
}

/* Rubriker på startsidan. */
#menu h2,
#score h2,
#about h2,
#form-container h2 {
    text-align: left;
    font-size: 2em;
}

/* Glass-rubriker inom menysektion. */
#menu h3 {
    font-size: 1.5em;
    color: #d4ae8e;
}

#menu h4 {
    font-size: 1.2em;
}

/* Glass-poster. */
.icecream-list li {
    margin-bottom: 1rem;
    list-style-type: none;
}

/* Kategori-bilder. */
.category img {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    border: 5px solid #d4ae8e;
}

/* Sektion för besöksbetyg. */
#score {
    background-color: #d6b54c;
    color: black;
    padding: 1rem 0;
}

/* Container för besöksbetygs-slide. */
.score-container {
    margin: 2rem 2rem 1rem 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

/* Besöksbetygs-slide. */
.score-slide {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
    padding: 1rem;
}

/* Gör scrollbar mindre synlig för webbläsaren Firefox. */
.score-slide {
    scrollbar-width: thin;
    scrollbar-color: #ffffff transparent;
}

/* Gör scrollbar mindre synlig för WebKit-baserade webbläsare. */
.score-slide::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* "Lista" med besöksbetyg. */
#score-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    line-height: 1.6;
}

/* Listelement med stjärnor, namn och datum. */
#score-list li {
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    width: 200px;
    background-color: #43332A;
    color: white;
}

/* Betygs-text. */
#score-list li p {
    font-size: 20px;
}

/* Betygsstjärna, fylld. */
.full-star {
    color: #d6b54c;
}

/* Betygsstjärna, tom. */
.empty-star {
    color: #c4c3c3;
}

/* Grundläggande styling för form-container och text. */
.form-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 2rem;
    max-width: 70ch;
}

.form-container h3 {
    font-size: 1.5em;
    margin-top: 1rem;
}

.form-container p {
    line-height: 1.6;
    text-align: left;
    margin-right: 1rem;
}

/* Formulär. */
#form {
    text-align: left;
}

/* Input-fält i formuläret. */
#form input {
    height: 35px;
    width: 250px;
    border: none;
    padding: 5px;
    margin-top: 5px;
}

/* Specifik stil för radioknappar och etiketter. */
#score-radios {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 1rem 0;
}

#score-radios input[type="radio"] {
    height: 25px;
    width: 25px;
    margin-top: 0.75rem;
    cursor: pointer;
}

#score-radios label {
    margin-top: 0.75rem;
    margin-right: 1rem;
}

/* Fieldset i formuläret. */
#form fieldset {
    border: none;
    font-weight: bold;
}

#form label {
    font-weight: bold;
}

/* Knapp för att lämna besöksbetyg. */
#form button {
    background-color: #43332A;
    color: #ffffff;
    height: 45px;
    width: 200px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border: none;

    /* Hover-effekt. */
    &:hover {
        font-size: 150%;
    }
}

/* Mediaquery för större skärmar. */
@media (min-width: 769px) {

    /* Bilderna i bildkarusellen blir större. */
    .img-carousel img {
        height: 450px;
    }

    #scroll-text h1 {
        font-size: 50px;
    }

    /* "Om oss"-bild stylas ytterligare. */
    .about-container img {
        border: 10px solid #43332A;
        box-shadow: 3px 3px 10px #000000;
    }

    /* Meny-container. */
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu #desc {
        margin-bottom: 2rem;
    }

    /* Rubriker på startsidan. */
    #menu h2,
    #score h2,
    #about h2 {
        text-align: left;
        font-size: 2em;
    }

    /* Menyn och bilderna läggs i två olika kolumner. */
    .menu-categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        width: 100%;
        text-align: center;
        justify-items: center;
    }

    /* Bild- och menytext-container. */
    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 100%;
        max-width: 450px;
        padding: 1rem;
    }

    /* Kategori-bilder. */
    .category img {
        width: 100%;
        max-width: 450px;
        height: auto;
        margin-bottom: 1rem;
        border: 10px solid #d4ae8e;
        box-shadow: 3px 3px 10px #000000;
    }

    /* Rubriker. */
    .category h3,
    .category ul {
        width: 100%;
        text-align: left;
    }

    #cat-1,
    #cat-2,
    #cat-3,
    #cat-4 {
        margin-bottom: 3rem;
    }

    /* Centrerar rubriker och containers. */
    h2,
    #menu,
    #score-list {
        text-align: center;
        justify-content: center;
    }

    /* Besöksbetyg. */
    .score-container {
        margin: 2rem;
    }

    .form-container h3 {
        text-align: left;
    }

    .form-container {
        text-align: center;
    }
}

/* Mediaquery för större skärmar. */
@media (min-width: 1025px) {
    .menu-categories {
        width: 80%;
    }

    #menu h2 {
        margin-top: 2rem;
    }

    /* Rubriker på startsidan. */
    #menu h2,
    #score h2,
    #about h2 {
        text-align: center;
        font-size: 2em;
    }

    #about {
        background-color: #43332A;
        border: 10px solid #8ea178;
        color: #ffffff;
        margin: 5rem 5rem 0 5rem;
    }

    /* "Om oss"-bild stylas ytterligare. */
    .about-container img {
        border: 10px solid #8ea178;
        box-shadow: 3px 3px 10px #000000;
        margin: 1rem;
    }

    /* "Om oss"-delarna läggs i två kolumner. */
    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        justify-items: center;
        align-items: center;
        margin: 3rem 4rem;
    }

    #menu {
        background-color: #43332A;
        border: 10px solid #d4ae8e;
        color: #ffffff;
        margin: 2rem 5rem;
    }

    /* Sektion för besöksbetyg. */
    #score {
        background-color: #43332A;
        border: 10px solid #d6b54c;
        color: #ffffff;
        margin: 2rem 5rem;
    }

    .score-container {
        margin: 2rem 15%;
    }

    #score-list li {
        border: 5px solid #d6b54c;
    }

    /* Grundläggande styling för form-container och text. */
    .form-container {
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        max-width: 70ch;
    }

    .form-container h3 {
        text-align: center;
    }

    /* Knapp för att lämna besöksbetyg. */
    #form button {
        background-color: #d6b54c;
        color: #000000;
    }
}

@media (min-width: 1441px) {
    .menu-categories {
        width: 70%;
    }

    .score-container {
        margin: 2rem 20%;
    }
}

@media (min-width: 1921px) {

    #about,
    #menu,
    #score {
        margin: 5rem 30rem;
    }

    .menu-categories {
        width: 50%;
    }

    .score-container {
        margin: 2rem 25%;
    }
}